# Default Extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*.iml
*~

# OS/Editor Files/Folders
._*
.cache
.DS_Store
.project
.settings
.tmproj
.idea
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db

# NPM/Bower
bower_components
node_modules

#Project
/build
