.hero {
  padding:  $main-navigation-height + 4rem 2rem 4rem 2rem;
  color: $white;
  background: url("../img/backgrounds/honeycomb.svg"), linear-gradient(45deg, $orange 0%, $purple 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: heroAnimatedBackground 2s linear infinite;
}

@media (min-width: #{map-get($breakpoints, lg)}) {
  .hero {
    padding-top:  $main-navigation-height-lg + 9rem;
    padding-bottom: 9rem;
  }
}

.hero .hero-title {
  margin-bottom: 2rem;
}

.hero .hero-subtitle {
  font-weight: 300;
  margin-bottom: 2rem;
}

.hero .btn {
  margin: 1rem 2rem 1rem 0;
}

@keyframes heroAnimatedBackground {
  from { background-position: 0 0, 0 0; }
  to { background-position: 56px 100px, 0 0; }
}
