---
title: "Toledo Web Professionals"
description: "Toledo Web Professionals organizes free, open networking meetups each month for web industry professionals. We welcome everyone from creatives and programmers to hobbyists and entrepreneurs of every skill level or education."
homepage: true
---
{% include header.html %}

<div class="hero">
  <div class="container">
    <h1 class="hero-title">We are Toledo Web Professionals</h1>
    <h3 class="hero-subtitle">
      We're a grassroots networking organization aimed at creating professional development opportunities,
      fostering an environment of collaboration, and building a community of technical, design, and business talent
      in Toledo.
    </h3>
    <a class="btn btn-light btn-lg btn-meetup" target="_blank" href="{{site.data.contact.meetup}}">
      Join & RSVP on
      <img class="btn-meetup-logo" src="/assets/img/logos/meetup.svg" alt="Meetup" />
    </a>
    <a class="btn btn-outline-light btn-lg" href="/become-a-sponsor/">Become a Sponsor</a>

    <br />

    <ul class="social-media-list">
      <li class="social-media-list-item">
        <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.meetup}}">
          <i class="fa fa-meetup"></i>
        </a>
      </li>
      <li class="social-media-list-item">
        <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.twitter}}">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="social-media-list-item">
        <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.facebook}}">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="social-media-list-item">
        <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.linkedin}}">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
      <li class="social-media-list-item">
        <a class="social-media-list-icon" target="_blank" href="{{site.data.contact.github}}">
          <i class="fa fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="section-primary" id="about">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5 col-md-6">
        <h3 class="section-heading">We bring learners, professionals, and businesses together.</h3>
        <h6 class="text-secondary">Toledo is our Mission</h6>
        <p>
          Building tech talent in Toledo is what brings us together. We feature discussions on topics ranging from UX and IA to
          programming and engineering.
        </p>
        <h6 class="text-secondary">We Meet Every Second Wednesday</h6>
        <p>
          We facilitate at least one event per month, January through November, on the second Wednesday of the month
          at our local coworking space, <a target="_blank" href="http://www.seedcoworking.com/">Seed Coworking.</a>
        </p>
        <h6 class="text-secondary">Did We Mention it's Free?</h6>
        <p>
          We are run by volunteers, we do not charge any membership fees, and our events are free to attend. In
          order to provide the best events possible, we depend on our gracious <a href="#sponsors">sponsors</a>.
        </p>
      </div>
      <figure class="col-lg-5 col-md-6 image-frame">
        <a class="image-frame-image" target="_blank" href="/assets/img/meetups/googz.jpg">
          <img class="img-fluid" src="/assets/img/meetups/googz.jpg" alt="Rita DeRaedt: Design at the Googz" />
        </a>
        <figcaption class="image-frame-caption">
          <a target="_blank" href="https://www.meetup.com/Toledo-Web-Professionals/events/220390332/">
          Design at the Googz</a>, March 2015 talk by Rita DeRaedt about her internship with Google.
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="section-secondary" id="speakers">
  <div class="container">
    <h3 class="section-heading text-center">
      Featured Speakers
    </h3>
    <p class="section-introduction">
      Here's a few of our speakers who have presented in the past. Interested in speaking? See our
      <a href="https://github.com/toledowebprofessionals/twp-resources/raw/master/documents/twp-speaker-guide/twp-speaker-guide.pdf">speaker guide</a>
      for details.
    </p>
    <ul class="speaker-list">
      {% for speaker in site.data.speakers %}
        <li class="speaker-list-item">
          <img class="speaker-image" src="/assets/img/speakers/{{speaker.name | slugify}}.jpg" alt="{{speaker.name}}" />
          <div class="speaker-details">
            <h4 class="speaker-name">{{ speaker.name }}</h4>
            <p class="speaker-event">
              <a target="_blank" href="{{speaker.eventUrl}}">{{speaker.eventTitle}}</a>
            </p>
          </div>
          <ul class="speaker-social-list">
            {% for network in speaker.social %}
            <li class="speaker-social-item">
              <a class="fa fa-{{network[0]}}" target="_blank" href="{{network[1]}}"></a>
            </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="section-primary text-center" id="sponsors">
  <div class="container">
    <h3 class="section-heading text-center">
      Our Sponsors
    </h3>
    <p class="section-introduction">
      Be the first! We're just beginning our sponsorship drive. Interested? See our
      <a href="https://github.com/toledowebprofessionals/twp-resources/raw/master/documents/twp-sponsorship/twp-sponsorship.pdf">sponsorship brochure</a> for details!
    </p>
    <a class="btn btn-outline-primary" href="/become-a-sponsor/">Become a Sponsor</a>
  </div>
</div>

{% include footer.html %}
