---
title: "Introductory Slides"
description: "Introductory slides for Toledo Web Professionals events."
permalink: introduction-slides/

event:
  title: Harness the Power of Mentorship
  speakers:
     - name: Erika Ritter
       description: Freelance Frontend Developer

upcoming:
 - title: 2017 Tech Toledo Holiday Mixer
   date: December 7, 2017
   info: techtoledo.com
 - title: The Cybersecurity Roadshow
   date: January 10, 2018
   info: toledowebprofessionals.com

---

{% include head.html %}

<div id="carouselExampleIndicators" class="carousel slide introductory-slides" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="introductory-slide welcome-slide">
        <img src="/assets/img/logos/twp-logo-full-w.svg" alt="Toledo Web Professionals" class="welcome-slide-logo" />
      </div>
    </div>
    <div class="carousel-item">
      <div class="introductory-slide title-slide">
        <img src="/assets/img/logos/twp-symbol-w.svg" alt="Toledo Web Professionals" class="title-slide-logo" />
        <h1 class="title-slide-title">{{page.event.title}}</h1>
        <ul class="title-slide-speakers">
          {% for speaker in page.event.speakers %}
            <li class="title-slide-speakers-item">
              <strong class="title-slide-speaker-name">
                {{speaker.name}}
              </strong>
              <em class="title-slide-speaker-description">
                {{speaker.description}}
              </em>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="carousel-item">
      <div class="introductory-slide service-slide">
        <img src="/assets/img/content/years-of-service.svg" alt="Toledo Web Professionals" />
      </div>
    </div>
    <div class="carousel-item">
      <div class="introductory-slide upcoming-events-slide">
        <img src="/assets/img/logos/twp-symbol-w.svg" alt="Toledo Web Professionals" class="slide-topper-logo" />
        <ul class="upcoming-events-slide-list">
          {% for event in page.upcoming %}
            <li class="upcoming-events-slide-item">
              <time class="upcoming-events-time">
                {{event.date}}
              </time>
              <h3 class="upcoming-events-title">
                {{event.title}}
              </h3>
              <p class="upcoming-events-more-details">
                {{event.info}}
              </p>
            </li>
          {% endfor %}
        </ul>
        <h4 class="toledo-tech-events-plug">See all Toledo Region events on <strong class="toledo-tech-events-highlight">toledotechevents.org</strong>.</h4>
      </div>
    </div>
    <div class="carousel-item">
      <div class="introductory-slide connect-slide">
        <h2 class="connect-slide-title">Get Connected!</h2>
        <ul class="social-media-list social-media-list-color">
          {% for option in site.data.contact.options %}
            {% if option[0] == 'envelope' %}{% else %}
              <li class="social-media-list-item">
                <span class="social-media-list-icon">
                  <i class="fa fa-{{option[0]}}"></i>
                </span>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}