<div class="carousel-item {% if include.active %}active{% endif%}">
  <div class="introductory-slide sponsors-slide">
    <h2 class="light">Our Sponsors</h2>
    <br />
    <div class="sponsor-list">
      <a class="sponsor-list-item" href="https://www.maritzcx.com/">
        <img src="/assets/img/logos/maritzcx.svg" width="180" alt="MaritzCX" />
      </a>
      <a class="sponsor-list-item" href="http://www.spokehq.com/">
        <img src="/assets/img/logos/spoke.svg" width="180" alt="Spoke HQ" />
      </a>
      <a class="sponsor-list-item" href="http://www.utoledo.edu/incubator/">
        <img src="/assets/img/logos/ut-launchpad-incubation.png" width="220" alt="UT Launchpad Incubation" />
      </a>
      <a class="sponsor-list-item" href="http://www.seedcoworking.com/">
        <img src="/assets/img/logos/seed-coworking.svg" width="130" alt="Seed Coworking" />
      </a>
      <a class="sponsor-list-item" href="http://ritterstudios.com/">
        <img src="/assets/img/logos/ritter-studios.svg" width="220" alt="Ritter Studios" />
      </a>
    </div>

  </div>
</div>