    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="{{site.data.global.snipcartApiKey}}" id="snipcart"></script>
    <script src="/assets/js/vendor.min.js"></script>
    <script src="/assets/js/twp.min.js"></script>
  </body>
</html>