<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" lang="en">
  <head>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-75850132-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-75850132-1');
    </script>

    <!-- Technical Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="home" href="{{site.data.global.baseurl}}" />
    <link rel="canonical" href="{{site.data.global.baseurl}}{{page.permalink}}" />

    <!-- Page Details -->
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}" />

    <!-- Humans and Robots -->
    <link type="text/plain" rel="author" href="/humans.txt" />
    <meta name="robots" content="index, follow" />

    <!-- Icons -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/meta/shortcut/shortcut-32x32.png" />
    <link rel="icon" sizes="196x196" href="/assets/img/meta/shortcut/shortcut-196x196.png" />

    <!-- Apple Meta Information -->
    <link rel="apple-touch-icon-precomposed" href="/assets/img/meta/apple/iphone-standard-60x60.png" sizes="60x60" />
    <link rel="apple-touch-icon-precomposed" href="/assets/img/meta/apple/iphone-retina-120x120.png" sizes="120x120" />
    <link rel="apple-touch-icon-precomposed" href="/assets/img/meta/apple/ipad-standard-76x76.png" sizes="76x76" />
    <link rel="apple-touch-icon-precomposed" href="/assets/img/meta/apple/ipad-retina-152x152.png" sizes="152x152" />

    <!-- Open Graph Protocol -->
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:site_name" content="{{site.data.global.sitename}}" />
    <meta property="og:description" content="{{page.description}}" />
    <meta property="og:image" content="/assets/img/meta/open-graph/og-600x600.png" />
    <meta property="og:url" content="{{site.data.global.baseurl}}{{page.permalink}}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter Cards Markup -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{page.title}}" />
    <meta property="twitter:image" content="/assets/img/meta/open-graph/og-600x600.png" />
    <meta property="twitter:description" content="{{page.description}}" />
    <meta property="twitter:site" content="@twpmeetup" />

    <!-- Remote CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" />

    <!-- Local CSS -->
    <link rel="stylesheet"  href="/assets/css/twp.min.css" />
    <link rel="stylesheet"  href="/assets/css/vendor.min.css" />

  </head>
  <body>