body {
  font-family: "Aller", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: $global-typography-default;
}

a {
  color: $orange;
  transition: color .25s ease-in-out;

  &:focus,
  &:hover,
  &:visited {
    color: darken($orange, 10%);
    text-decoration: none;
  }
}

// Bootstrap uses !important to set text colors like this, so we need to override them.
// scss-lint:disable ImportantRule

.text-primary {
  color: $orange !important;
}

.text-secondary {
  color: $purple !important;
}

// scss-lint:enable ImportantRule

.text-tertiary {
  color: $ruby;
}
