@font-face {
  font-family: 'Aller';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/aller/aller-regular/aller-regular.eot');
  src: url('../fonts/aller/aller-regular/aller-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aller/aller-regular/aller-regular.woff2') format('woff2'),
       url('../fonts/aller/aller-regular/aller-regular.woff') format('woff'),
       url('../fonts/aller/aller-regular/aller-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Aller';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/aller/aller-light/aller-light.eot');
  src: url('../fonts/aller/aller-light/aller-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/aller/aller-light/aller-light.woff2') format('woff2'),
       url('../fonts/aller/aller-light/aller-light.woff') format('woff'),
       url('../fonts/aller/aller-light/aller-light.ttf') format('truetype');
}
