$global-typography-default: #666;

$black: #000;
$white: #fff;
$orange: #f15b27;
$ruby: #dc2157;
$purple: #bc2375;

$danger: #da3849;



$brand-meetup: #e0393e;
$brand-facebook: #3b5998;
$brand-instagram: #262626;
$brand-github: #333;
$brand-twitter: #1da1f2;
$brand-linkedin: #0077b5;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$main-navigation-height: 4.563rem;
$main-navigation-height-lg: 5.563rem;
